{% extends 'templates/base.html' %}
{% block title %}{{super()}} | Settings for {{map.name or 'Untitled map'}}{% endblock %}

{% block head %}
{{super()}}
	<link rel="stylesheet" type="text/css" href="/static/css/.tabs.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/.table.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/.form.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/settings/.common.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/settings/.map.min.css">
{% endblock %}

{% block javascript %}
{{super()}}
	<script type="application/javascript" src="/static/js/.tabs.min.js"></script>
	<script type="application/javascript" src="/static/js/settings/.common.min.js"></script>
	<script type="application/javascript" src="/static/js/settings/.map.min.js"></script>
{% endblock %}

{% block main %}
<div class="container">

	<p><a href="/settings/maps">&lt; Back to all maps</a></p>

	<h1>{{map.name or 'Map'}} Settings</h1>

	<ul class="etabs">
		<li class="tab btn"><a href="#basics">Basics</a></li>
		<li class="tab btn"><a href="#display">Display</a></li>
		<li class="tab btn"><a href="#vehicles">Vehicles</a></li>
		<li class="tab btn"><a href="#admins">Admins</a></li>
	</ul>

	<section id="basics">
		<h2>Basics</h2>

		<form role="form" method="post" action="/settings/maps/{{map._id}}/basics">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<input type="hidden" name="mapId" value="{{map._id}}">

			<div id="name" class="form-group" title="Shown in the window title when viewing the map">
				<label for="name-input">Name</label>
				<input id="name-input" class="xss-sensitive" name="name" type="text" value="{{map.name}}" maxlength="160" placeholder="Map name (optional)">
				<p id="map-name-help" class="red help"></p>
			</div>

			<div id="slug" class="form-group" title="The URL for the map">
				<label for="slug-input">URL</label>
				<div class="input-with-addon-group">
					<input type="text" class="left input-addon" size="13" value="tracman.org/map/" disabled readonly>
					<input type="text" id="slug-input" class="input-with-addon left" name="slug" value="{{map.slug}}" maxlength="160" required>
				</div>
				<p id="slug-help" class="red help"></p>
			</div>

			<div id="delete-group" style="text-align:right">
				<a id="delete" class="red underline" href="/settings/map/{{map._id}}/delete" title="Permently delete this map">Delete map</a>
			</div>

			<div class="submit-group form-group flexbox">
				<input class="main submit btn" type="submit" value="Save" title="Click here to save your changes. ">
				<a href="/settings/maps" class="btn" title="Click here to discard your changes. ">cancel</a>
			</div>

		</form>

	</section>

	<section id="display">

		<h2>Display</h2>

		<form role="form" method="post" action="/settings/maps/{{map._id}}/display">

			<div id="units" class="form-group" title="Standard for feet/mph, metric for meters/kph">
				<label for="units-select">Units</label>
				<select id="units-select" name="units">
					<option {% if map.settings.units=='standard' %}selected {% endif %}value="standard">Standard</option>
					<option {% if map.settings.units=='metric' %}selected {% endif %}value="metric">Metric</option>
				</select>
			</div>

			<div id="default-map-type" class="form-group" title="Default image shown to map viewers, which can be changed by visitors">
				<label for="map-type-select">Default map</label>
				<select id="map-type-select" name="mapType">
					<option {% if map.settings.defaultType=='road' %}selected {% endif %}value="road">Road</option>
					<option {% if map.settings.defaultType=='sat' %}selected {% endif %}value="sat">Satellite</option>
				</select>
			</div>

			<div id="default-zoom" class="form-group" title="The initial map zoom level, though map edges may be affected by screen size">
				<label for="zoom-select">Default zoom</label>
				<select id="default-zoom-select" name="defaultZoom">
					<option {% if map.settings.defaultZoom==1 %}selected {% endif %}value="1">1 World</option>
					<option {% if map.settings.defaultZoom==2 %}selected {% endif %}value="2">2</option>
					<option {% if map.settings.defaultZoom==3 %}selected {% endif %}value="3">3</option>
					<option {% if map.settings.defaultZoom==4 %}selected {% endif %}value="4">4</option>
					<option {% if map.settings.defaultZoom==5 %}selected {% endif %}value="5">5 Landmass</option>
					<option {% if map.settings.defaultZoom==6 %}selected {% endif %}value="6">6</option>
					<option {% if map.settings.defaultZoom==7 %}selected {% endif %}value="7">7</option>
					<option {% if map.settings.defaultZoom==8 %}selected {% endif %}value="8">8</option>
					<option {% if map.settings.defaultZoom==9 %}selected {% endif %}value="9">9</option>
					<option {% if map.settings.defaultZoom==10 %}selected {% endif %}value="10">10 City</option>
					<option {% if map.settings.defaultZoom==11 %}selected {% endif %}value="11">11</option>
					<option {% if map.settings.defaultZoom==12 %}selected {% endif %}value="12">12</option>
					<option {% if map.settings.defaultZoom==13 %}selected {% endif %}value="13">13</option>
					<option {% if map.settings.defaultZoom==14 %}selected {% endif %}value="14">14</option>
					<option {% if map.settings.defaultZoom==15 %}selected {% endif %}value="15">15 Streets</option>
					<option {% if map.settings.defaultZoom==16 %}selected {% endif %}value="16">16</option>
					<option {% if map.settings.defaultZoom==17 %}selected {% endif %}value="17">17</option>
					<option {% if map.settings.defaultZoom==18 %}selected {% endif %}value="18">18</option>
					<option {% if map.settings.defaultZoom==19 %}selected {% endif %}value="19">19</option>
					<option {% if map.settings.defaultZoom==20 %}selected {% endif %}value="20">20 Buildings</option>
				</select>
			</div>

			<div id="map-center" class="form-group" title="Where the map's center should be">
				<label>Map Center</label>
				<div>
					<div class="button col">
						<input id="center-follow-radio" type="radio" name="center" value="follow" {% if map.settings.center.type == 'follow' %}checked{% endif %}>
						<input id="center-static-radio" type="radio" name="center" value="static" {% if map.settings.center.type == 'static' %}checked{% endif %}>
					</div>
					<div class="label col">
						<label for="center-follow-radio">Follow:</label>
						<label for="center-static-radio">Static:</label>
					</div>
					<div class="input col">
						<select id="center-follow-vehicle" name="follow">
							{% for vehicle in map.vehicles %}
							<option {% if map.settings.center.follow==vehicle._id %}selected {% endif %}value="{{vehicle._id}}">{{vehicle.name}}</option>
							{% endfor %}
						</select>
						<div id="center-static-coords" class="flex">
							<input name="staticLat" type="number" value="{{map.center.lat}}" placeholder="Latitude" max="90" min="-90">
							<input name="staticLon" type="number" value="{{map.center.lon}}" placeholder="Longitude" max="180" min="-180">
						</div>
					</div>
				</div>
				<p id="map-center-lat-help" class="red help"></p>
				<p id="map-center-lon-help" class="red help"></p>
			</div>

			<div id="can-zoom" class="form-group" title="Whether visitors can zoom in and out">
				<label for="can-zoom-input">Can zoom</label>
				<input id="can-zoom-input" name="canZoom" type="checkbox" {% if map.settings.canZoom %}checked{% endif %}>
			</div>

			<div id="can-pan" class="form-group" title="Whether visitors can move the map">
				<label for="can-pan-input">Can pan</label>
				<input id="can-pan-input" name="canPan" type="checkbox" {% if map.settings.canPan %}checked{% endif %}>
			</div>

			<div id="show-scale" class="form-group" title="Shows a scale on the map.">
				<label for="show-scale">Show scale</label>
				<input id="show-scale-input" name="showScale" type="checkbox" {% if map.settings.display.scale %}checked{% endif %}>
			</div>

			<div id="show-speed" class="form-group" title="{% if not user.isPro %}PRO ONLY! {% endif %}Shows a spedometer on the map.">
				<label for="show-speed-input">Show speed{% if not user.isPro %} <span class="red">(PRO)</span>{% endif %}</label>
				<input id="show-speed-input" name="showSpeed" type="checkbox" {% if not user.isPro %}disabled {% elif map.settings.display.speed %}checked{% else %}{% endif %}>
			</div>

			<div id="show-altitude" class="form-group" title="{% if not user.isPro %}PRO ONLY! {% endif %}Shows the current elevation on the map. ">
				<label for="show-alt-input">Show altitude{% if not user.isPro %} <span class="red">(PRO)</span>{% endif %}</label>
				<input id="show-alt-input" name="showAlt" type="checkbox" {% if not user.isPro %}disabled {% elif map.settings.display.alt %}checked{% else %}{% endif %}>
			</div>

			<div id="show-streetview" class="form-group" title="{% if not user.isPro %}PRO ONLY! {% endif %}Shows a Google street view image at or near your current location, oriented in the direction of travel. ">
				<label for="show-streetview-input">Show street view{% if not user.isPro %} <span class="red">(PRO)</span>{% endif %}</label>
				<input id="show-streetview-input" name="showStreetview" type="checkbox" {% if not user.isPro %}disabled{% elif map.settings.display.streetview %}checked{% else %}{% endif %}>
			</div>

			<div class="submit-group form-group flexbox">
				<input class="main submit btn" type="submit" value="Save" title="Click here to save your changes. ">
				<a href="/settings/maps" class="btn" title="Click here to discard your changes. ">cancel</a>
			</div>

		</form>

	</section>

	<section id="vehicles">

		<h2>Vehicles</h2>

		<form role="form" method="post" action="/settings/maps/{{map._id}}/vehicles">

			<table id="vehicles-table">

				<thead><tr>
					<th><h4>Name</h4></th>
					<th><h4>Setter</h4></th>
					<th><h4>Marker</h4></th>
					<th><h4></h4></th>
				</tr></thead>

				<tbody>
				{% for vehicle in map.vehicles %}
				<tr>
					<td>
						<input class="xss-sensitive" type="text" name="vehicle-name-{{vehicle._id}}" value="{{vehicle.name}}" placeholder="Vehicle names are optional" title="The name of a vehicle appears when you mouseover or click on a marker on the map">
					</td>
					<td class="setter">
						<input type="text" class="vehicle-setter left" data-vehicle="{{vehicle._id}}" name="vehicle-setter-{{vehicle._id}}" value="{{vehicle.setter.email or vehicle.setterEmail}}" placeholder="Enter an email" title="The email address of the user account that can set the vehicle's location">
						<i id="vehicle-setter-icon-{{vehicle._id}}" class="fa fa-spinner fa-spin"></i>
					</td>
					<td>
						<select name="marker-{{vehicle._id}}" title="The color of the map marker">
							<option {% if vehicle.marker=='red' or vehicle.marker=='' %}selected {% endif %}value="red">red</option>
							<option {% if vehicle.marker=='black' %}selected {% endif %}value="black">black</option>
							<option {% if vehicle.marker=='green' %}selected {% endif %}value="green">green</option>
							<option {% if vehicle.marker=='grey' %}selected {% endif %}value="grey">grey</option>
							<option {% if vehicle.marker=='orange' %}selected {% endif %}value="orange">orange</option>
							<option {% if vehicle.marker=='purple' %}selected {% endif %}value="purple">purple</option>
							<option {% if vehicle.marker=='white' %}selected {% endif %}value="white">white</option>
							<option {% if vehicle.marker=='yellow' %}selected {% endif %}value="yellow">yellow</option>
						</select>
					</td>
					<td>
						<a><i data-vehicle="{{vehicle._id}}" class="vehicle-delete fa fa-times-circle red"></i></a>
					</td>
				</tr>
				{% endfor %}
				<tr>
					<td>
						<input type="text" id="vehicle-name-new" class="new-vehicle-input" title="The name of a vehicle appears when you mouseover or click on a marker on the map" placeholder="New vehicle name (optional)">
					</td>
					<td id="setter-new" class="setter">
						<input type="text" id="vehicle-setter-new" class="new-vehicle-input vehicle-setter left" title="The email address of the user account that can set the vehicle's location" placeholder="New vehicle setter email">
						<i id="vehicle-setter-icon-new" class="fa"></i>
					</td>
					<td>
						<select id="vehicle-marker-new" class="new-vehicle-input" title="The color of the map marker">
							<option selected value="red">red</option>
							<option value="black">black</option>
							<option value="green">green</option>
							<option value="grey">grey</option>
							<option value="orange">orange</option>
							<option value="purple">purple</option>
							<option value="white">white</option>
							<option value="yellow">yellow</option>
						</select>
					</td>
					<td>
						<a><i id="vehicle-new" class="fa fa-plus-circle green" title="A setter email is required"></i></a>
					</td>
				</tr>
				</tbody>

			</table>
			<p id="vehicles-help" class="red help"></p>

			<div class="submit-group form-group flexbox">
				<input class="main submit btn" type="submit" value="Save" title="Click here to save your changes. ">
				<a href="/settings/maps" class="btn" title="Click here to discard your changes. ">cancel</a>
			</div>

		</form>

	</section>

	<section id="admins">

		<h2>Administrators</h2>

		<form role="form"><ul id="admins-list">
			<li>
				{{user.email}} (<i>you</i>)
			</li>

		{% for admin in map.admins %}
		{% if admin !== user.email %}
			<li>
				{{admin.email}} <a><i data-admin="{{admin}}" class="admin-delete fa fa-times-circle red" title="Remove {{admin}} from admins"></i></a>
			</li>
		{% endif %}
		{% endfor %}
			<li>
				<input id="admin-new-email" type="text" placeholder="New admin email" title="Enter the email of an admin you want to add" style="display:inline-block;padding:0">
				<a><i id="admin-new" class="fa fa-plus-circle green" title="Click to add a new admin"></i></a>
			</li>
		</ul></form>

		<p id="admins-help" class="red help"></p>

	</section>

</div>
{% endblock %}