{% extends 'templates/base.html' %}
{% block title %}{{super()}} | Map Settings{% endblock %}

{% block head %}
{{super()}}
	<link rel="stylesheet" type="text/css" href="/static/css/.table.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/.form.min.css">
{% endblock %}

{% block main %}

	<section class="container">

		<p><a href="/settings">&lt; Back to all settings</a></p>

		<h1>Map Settings</h1>

		<p>Type a name in the "New map name" box and click the green button to create a new map.  </p>

		<form role="form" method="post">
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<ul>
		{% for map in maps %}
			<li><a href="/settings/maps/{{map._id}}">{{map.name}}</a></li>
		{% endfor %}
			<li>
				<input id="new-map-input" name="name" type="text" maxlength="160"
				       placeholder="New map name (optional)">
				<a href="#" onclick="$('form').submit()" title="Click to add a new map">
					<i class="green fa fa-plus-circle"></i></a>
			</li>
		</ul></form>

	</section>

{% endblock %}
