{% extends 'templates/base.html' %}
{% block title %}{{super()}} | User Settings{% endblock %}

{% block head %}
{{super()}}
	<link rel="stylesheet" type="text/css" href="/static/css/.form.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/settings/.common.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/settings/.user.min.css">
{% endblock %}

{% block javascript %}
{{super()}}
	<script type="application/javascript" src="/static/js/settings/.common.min.js"></script>
	<script type="application/javascript" src="/static/js/settings/.user.min.js"></script>
{% endblock %}

{% block main %}

	<section class='container'>

		<h1>User Settings</h1>

		<form id='user-settings-form' role="form" method="post" action="/settings/user">
			<input type="hidden" name="_csrf" value="{{csrfToken}}">

			<div id='name' class='form-group' title="It doesn't really matter what you put here">
				<label for="name-input">Name</label>
				<input id='name-input' name="name" type="text" value="{{user.name}}" maxlength="160">
				<p id='name-help' class='red help'></p>
			</div>

			<div id='email' class='form-group' title="For account stuff only, no dumb newsletters">
				<label for="email-input">Email</label>
				<input id='email-input' name="email" type="email" value="{{user.email}}" maxlength="160">
				<p id='email-help' class='red help'></p>
			</div>

			<div id='social-connect' class='form-group'>
				<a href="/login/google" class='btn gp{% if user.auth.google %} connected{% endif %}' title="Connect your Google account so you can use it to log in quickly">
					<i class="fa fa-google-plus"></i>
					{% if user.auth.google %}Disconnect{% else %}Connect{% endif %} Google
				</a>
				<a href="/login/facebook" class='btn fb{% if user.auth.facebook %} connected{% endif %}' title="Connect your Facebook account so you can use it to log in quickly">
					<i class="fa fa-facebook"></i>
					{% if user.auth.facebook %}Disconnect{% else %}Connect{% endif %} Facebook
				</a>
				<a href="/login/twitter" class='btn tw{% if user.auth.twitter %} connected{% endif %}' title="Connect your Twitter account so you can use it to log in quickly">
					<i class="fa fa-twitter"></i>
					{% if user.auth.twitter %}Disconnect{% else %}Connect{% endif %} Twitter
				</a>
			</div>

			<div id='password-delete' class='form-group'>
				<a id='password' class='underline' href="/account/password" title="{% if user.auth.password %}Change{% else %}Set{% endif %} your password">{% if user.auth.password %}Change{% else %}Set{% endif %} password</a>
				<a id='delete' class='red underline' href="/settings/user/delete" style="text-align:right" title="Permently delete your Tracman account">Delete account</a>
			</div>

			<div id='submit-group' class='form-group flexbox'>
				<input class='main btn' type="submit" value="Save" title="Save your settings">
				<a href="/settings" class='btn' title="Discard your changes">cancel</a>
			</div>

		</form>

	</section>

{% endblock %}