# npm
node_modules/
npm-debug.log

# Istanbul reports
coverage/

# Secret stuff
config/env/*
!config/env/sample.js
!config/env/travis.js

# Minified or bundled static files (can be built with `npm run minify && npm run build`)
static/css/*.min.*
static/**/*.bun.*

# Ignore docs files
_gh_pages
_site
