/* Global */
div, footer, .fa,
.container, .container:before, .container:after {
	box-sizing: border-box;
}
body, input, textarea {
	padding: 0; margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #eee;
}
body {
	background-color: #080808;
}
::-webkit-scrollbar {
	width: 5vw;
	min-width:10px;
	max-width:40px;
}::-webkit-scrollbar-track {
	background-color: #080808;
	background-color: rgba(8,8,8,0);
}::-webkit-scrollbar-thumb {
	border-radius: .2vw;
	background: #333;
}
::selection  {
	background: #999;
}
::-moz-selection  {
	background: #999;
}

/* Elements */
main {
	top: 59px;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: auto;
}
.container {
	padding-right: 5%;
	padding-left: 5%;
	width: 100%;
	margin: 0 auto;
}
.container:after {
	content: "";
	display: block;
	clear: both;
}
section {
	padding: 10vh 0 5vh;
}

h1, h2, h3 {
	margin: 0 0 5% 0;
	position: relative;
	z-index: 6;
}
/* Font sizes */
h1, h2, h3, h4 { font-weight: 600; }
h1 {
	font-size: 48px;
	line-height: 46px; }
h2 {
	font-size: 40px;
	line-height: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 20px; }

p, main ul {
	margin-top: 0;
	margin-bottom: 5vh;
}
hr {
	width: 90%;
	margin: 10% auto;
}
img {
	max-width: 100%;
}
p img {
	display: block;
	margin: auto;
}
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

a {
	cursor: pointer;
	color: #fbc93d;
	text-decoration: none;
}
a[disabled] {
	cursor: not-allowed;
}
main a:hover:not(.btn) {
	color: #fbc93d;
	text-decoration: underline;
}
a.underline {
	text-decoration: underline;
}
a.underline:hover:not(.btn) {
	text-decoration: none;
}

/* Modifiers */
.hide { display: none !important; }
.red, .red:hover { color: #fb6e3d !important; }
.yellow, .yellow:hover { color: #fbc93d !important; }
.green, .green:hover { color: #8ae137 !important; }
.inline { display: inline; }
.inline-block { display: inline-block; }

.shadow {
	-moz-box-shadow: .18vw .18vw .36vw #000;
	-webkit-box-shadow: .18vw .18vw .36vw #000;
	box-shadow: .18vw .18vw .36vw #000;
} .shadow:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.inline { display: inline-block; }
.flex {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.flex.stretch { justify-content: space-between; }
.left { float: left; }
.right { float: right; }


/* Buttons */
.btn {
	font-weight:600;
	display: inline-block;
	padding: 15px 30px;
	background: rgba(255,255,255,0.1);
	color: #eee;
	border-radius: .5vw;
} .btn:not(:disabled) {
	border: 1px solid #666;
	transition: 100ms;
	cursor: pointer;
	-moz-box-shadow:
		inset .11vw .18vw .52vw rgba(255,255,255,.2),
		inset -.11vw -.18vw .52vw rgba(0,0,0,.4),
		.1vw .1vw .52vw #000;
	-webkit-box-shadow:
		inset .11vw .18vw .52vw rgba(255,255,255,.2),
		inset -.11vw -.18vw .52vw rgba(0,0,0,.4),
		.1vw .1vw .36vw #000;
	box-shadow:
		inset .11vw .18vw .52vw rgba(255,255,255,.2),
		inset -.11vw -.18vw .52vw rgba(0,0,0,.4),
		.1vw .1vw .36vw #000;
} .btn:disabled {
	color: #aaa;
	border: 1px solid #444;
} .btn:hover:not(:disabled) {
	text-decoration: none;
	background: rgba(255,255,255,0.2);
} .btn:active:not(:disabled) {
	-moz-box-shadow:
		inset .11vw .18vw .52vw rgba(0,0,0,.4),
		inset -.11vw -.18vw .52vw rgba(255,255,255,.2);
	-webkit-box-shadow:
		inset .11vw .18vw .52vw rgba(0,0,0,.4),
		inset -.11vw -.18vw .52vw rgba(255,255,255,.2);
	box-shadow:
		inset .11vw .18vw .52vw rgba(0,0,0,.4),
		inset -.11vw -.18vw .52vw rgba(255,255,255,.2);
} .btn:focus:not(:disabled){
	border: 1px solid #fbc93d;
}
.btn.main:not(:disabled) {
	color: #fbc93d;
}
.btn .fa {
	margin-left: 10px;
}



/* Popups */
.popup {
	background: #111;
	padding: 4vh 4vw;
	border-radius: 3vh;
	z-index: 1000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-box-shadow: 0.5vh 0.4vh 1vh 0.1vh #000;
	-webkit-box-shadow: 0.5vh 0.4vh 1vh 0.1vh #000;
	box-shadow: 0.5vh 0.4vh 1vh 0.1vh #000;
}
.popup .topbar, .popup p {
	margin: 0 0 6vh 0;
}
.popup .topbar {
	display: flex;
	justify-content: space-between;
	margin: 0 0 3vh 0;
}
.popup p {
	margin: 0 0 3vh 0;
}
.popup .close {
	cursor: pointer;
}
.popup .buttons {
	display: flex;
	justify-content: space-around;
}
.page-mask {
	display: none;
	z-index: 950;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
