{% extends 'templates/base.html' %}
{% block title %}{{super()}} | Contact{% endblock %}

{% block head %}
{{super()}}
 <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block main %}
	<section class='container'>
		
		<h1>Contact</h1>
		
		<form id='contact-form'>
			
			
			<button class='g-recaptcha' data-sitekey="{{sitekey}}" data-callback="onSubmit">Submit</button>

		</form>

	</section>
{% endblock %}

{% block javascript %}
{{super()}}
	<script type="application/javascript">
	/* global $ */
		function onSubmit() {
			$('#contact-form').submit();
		}
	</script>
{% endblock %}
