{% extends 'templates/base.html' %}
{% block title %}{{super()}} | {% if code %}{{code}} {% endif %}Error{% endblock %}

{% block main %}
<section class='container'>
	<h2>⛔️ {% if code %}{{code}} {% endif %}{% if message %}{{message}}{% endif %}</h2>
	{% if stack %}<p>{{stack}}</p>{% else %}
	{% if code %}<img style="width:100%" src="https://http.cat/{{code}}.jpg">{% endif %}
	{% if code != '404' %}<p>Would you please <a href="https://github.com/Tracman-org/Server/issues/new">report this error</a>? </p>{% endif %}{% endif %}
</section>
{% endblock %}