{% extends 'templates/base.html' %}
{% block title %}{{super()}} | Reset Password{% endblock %}

{% block head %}
{{super()}}
	<link rel="stylesheet" type="text/css" href="/static/css/.form.min.css">
{% endblock %}

{% block main %}
<section class='container'>

	<h1>Reset password</h1>
	<p>Enter your email below to recieve a link to reset your password.  </p>
	
	<form method="post" role="form">
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		
		<div class='form-group'>
			<label for="email">Email:</label>
			<input name="email" type="email" value="{{email}}">
		</div>
		
		<input class='main btn' type="submit" value="Go" style="display:block; margin:auto">
		
	</form>

</section>
{% endblock %}
