{% extends 'templates/base.html' %}
{% block title %}{{super()}} | Reset Password{% endblock %}

{% block javascript %}
{{super()}}
	<script type="application/javascript" src="/static/js/.form.bun.js"></script>
{% endblock %}

{% block main %}
<section class='container'>

	<h1>Reset password</h1>
	<p>Enter your email below to recieve a link to reset your password.  </p>
	
	<form method="post" role="form">
		
		<div class='form-group'>
			<label for="email">Email:</label>
			<input name="email" type="email">
		</div>
		
		<input class='main btn' type="submit" value="Go" style="display:block; margin:auto">
		
	</form>

</section>
{% endblock %}