{% extends 'templates/base.html' %}
{% block title %}{{super()}} | Set Password{% endblock %}

{% block head %}
{{super()}}
	<link rel="stylesheet" type="text/css" href="/static/css/form.css">
{% endblock %}

{% block main %}

	<section class='container'>
		
		<h1>Set Password</h1>
		
		<form id='password-form' role="form" method="post">
		<style>
			#password input {
				min-width: 40%;
			}
		</style>
		
			<p>Your password must be at least 8 characters long.  You can use any letter, number, symbol, emoji, or spaces.  Your password will be stored as a secure hash on the server.  </p>
				
			<div id='password' class='form-group' title="Type your new password here">
				<input class='form-control' name="password" type="password" placeholder="enter password" minlength="8" maxlength="160">
				<input class='form-control' name="repassword" type="password" placeholder="retype password" minlength="8" maxlength="160">
			</div>
				
			<div id='submit-group' class='form-group flexbox' style="padding:0 0 60px; justify-content:space-around">
				<input class='btn yellow' style="width:50%; background:#333" type="submit" value="Save">
				<a href="#" class='btn'>cancel</a>
			</div>
			
		</form>
		
	</section>
	
{% endblock %}

{% block javascript %}
{{super()}}
	<script>
		
		
		
	</script>
{% endblock %}