{% extends 'templates/base.html' %}
{% block title %}{{super()}} | Privacy Policy{% endblock %}

{% block main %}
  <section class='container'>

  <h2>Privacy Policy</h2>

	<p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in U.S. privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read this privacy policy carefully to get a clear understanding of how your Personally Identifiable Information is collected, used, protected, or otherwise handled in accordance with this website and app.</p>

	<h3 id='personal-info'>Personal Information</h3>

	<h4 id='what-personal-info'>What personal information is collected from the people that use Tracman?</h3>

	<p>When registering an account on Tracman, as appropriate, you may be asked to enter your name, or email address, or other details to help you with your experience. When using the website or app to update your location, your location will also be collected, obviously. </p>

	<h4 id='when-collected'>When is your information collected?</h3>

	<p>Tracman collects information from you when you register on the site or enter information on the site, duh. </p>

	<h4 id='how-use-info'>How is your information used?</h3>

	<ul>
		<li>Vulnerability scanning and/or scanning to PCI standards is used.</li>
		<li>An external PCI compliant payment gateway handles all credit card transactions.</li>
		<li>Malware scanning is not used.</li>
	</ul>

	<p>Your personal information is contained behind secured networks and is only accessible by a limited number of people who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive information you supply is encrypted via Secure Socket Layer (SSL) technology. All passwords are hashed and salted in a secure database. </p>

	<p>A variety of security measures are implemented when a user enters, submits, or accesses their information to maintain the safety of your personal information.</p>

	<p>All transactions are processed through a gateway provider and are not stored or processed on Tracman servers.</p>

	<h3 id='cookies'>Cookies</h3>

	<h4 id='are-cookies-used'>Are cookies used?</h3>

	<p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow it) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information.</p>

	<p>Tracman uses cookies to maintain account sessions so users don't have to log in when using the same computer.</p>

	<p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's help menu to learn the correct way to modify your cookie settings.</p>

	<h4 id='if-cookies-disabled'>If users disable cookies in their browser:</h4>

	<p>Login information will not be saved in the user's browser and that user will be required to log in on every page that requires an account.</p>

	<h3 id='third-parties'>Third Parties</h3>

	<h4 id='third-party-disclosure'>Third-party disclosure</h4>

	<p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>

	<h4 id='third-party-links'>Third-party links</h4>

	<p>We do not include or offer third-party products or services on our website.</p>

	<h4>Google</h4>

	<p>Tracman, along with third-party vendors such as Google, use first-party cookies (such as the Google Analytics cookies) or other third-party identifiers together to compile data regarding user interactions this website.</p>

	<h3 id='ca-coppa'>California Online Privacy Protection Act</h3>

	<p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. See more at: <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf" target="_blank">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a></p>

	<h4 id='coppa-agreements'>According to CalOPPA, we agree to the following:</h4>

	<ul>
		<li>Users can visit this site anonymously.</li>
		<li>A link to this privacy policy is available on the <a href="/">Tracman homepage</a>, and in the footer of most other pages.</li>
		<li>The Privacy Policy link includes the word 'Privacy' and can easily be found in the footer of the homepage and most other pages.</li>
	</ul>

	<h4>Changes to the Privacy Policy</h4>

	<p>Users will be notified of changes to the privacy policy by email. Users' email addresses can be changed on the <a href="/settings/user">user settings page</a>.</p>

	<h4>How does Tracman handle Do Not Track signals?</h4>

	<p>Tracman doesn't honor Do Not Track signals and Do Not Track, plant cookies. This is because honoring of Do Not Track signals hasn't been implemented yet. </p>

	<h4>Does Tracman allow third-party behavioral tracking?</h4>

	<p>Tracman does not allow third-party behavioral tracking.</p>

	<h3 id='children'>COPPA (Children Online Privacy Protection Act)</h3>

	<p>When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.</p>

	<p>Tracman does not specifically market to children under the age of 13 years old.</p>

	<h3 id='fair-information-practices'>Fair Information Practices</h3>

	<p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>

	<p>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</p>

	<ul>
		<li>Users will be notified by email within 1 business day of the breach's detection.</li>
		<li>Visitors will be notified by in-site notification within 1 business day of the breach's detection.</li>
	</ul>

	<p>We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>

	<h3 id='can-spam'>CAN SPAM Act</h3>

	<p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>

	<p>Tracman collects users' email addresses in order to send information, respond to inquiries, and/or other requests or questions.  </li>

	<p>To be in accordance with CANSPAM, we agree to not use false or misleading subjects or email addresses.</p>

	<p>If at any time you would like to unsubscribe from receiving future emails, you can delete your account on the <a href="/settings/user">user settings page</a> or <a href="/contact">contact us</a> and we will promptly delete your account and remove you from <b>all</b> correspondence.


	<h3 id='contact'>Contacting Us</h3>

	<p>If there are any questions regarding this privacy policy, you may contact us using <a href="/contact">this contact form</a> or the mailing address below.</p>

	<p><address>
		Keith Irwin<br>
		3 Summerhill Lane<br>
		Medford, NJ 08055<br>
		United States
	</address></p>

	<p id='updated'><span class='right'>Last Edited on 2018-03-20</span></p>

  </section>
{% endblock %}