{% extends 'templates/base.html' %}
{% block title %}{{super()}} | Suggestion{% endblock %}

{% block main %}
<section class='dark'>
	<div class='container'>
		<h1>Suggest a Feature</h1>

		<p>You can use this form to suggest new features.  Or maybe you need to <a href="/bug">submit a bug report</a> instead?  </p>

		<script src="/static/js/validator.min.js"></script>
		<form id='suggestions-form' class='col-lg-10 col-lg-offset-1 form-horizontal' role="form" method="POST" data-toggle="validator">

			<div class='form-group' id='suggestion'>
				<label class='control-label col-sm-2 col-lg-3' for="suggestion">What feature could improve Tracman?  </label>
				<div class='input-group col-xs-12 col-sm-10 col-lg-9'>
					<textarea class='form-control' name="suggestion" rows="5" required maxlength="2400" data-error="You have to make a suggestion!  "></textarea>
				</div>
				<div class='help-block with-errors col-xs-12 col-sm-10 col-sm-offset-2 col-lg-9 col-lg-offset-3'></div>
			</div>

			<div class='form-group' id='name' title="Put your name here if you want.  ">
				<label class='control-label col-sm-2 col-lg-3' for="name">Name</label>
				<div class='input-group col-xs-12 col-sm-10 col-lg-9'>
					<input class='form-control' name="name" type="text" value="{{ user.name }}"
						maxlength="160"><br>
				</div>
				<div class='help-block with-errors col-xs-12 col-sm-10 col-sm-offset-2 col-lg-9 col-lg-offset-3'></div>
			</div>

			<div class='form-group' id='email' title="Put an email address if you want a reply.  ">
				<label class='control-label col-sm-2 col-lg-3' for="email">Email</label>
				<div class='input-group col-xs-12 col-sm-10 col-lg-9'>
					<input class='form-control' name="email" type="email" value="{{ user.email }}"
						maxlength="160" data-error="That's not an email address"><br>
				</div>
				<div class='help-block with-errors col-xs-12 col-sm-10 col-sm-offset-2 col-lg-9 col-lg-offset-3'></div>
			</div>

			<div class='form-group flexbox' id='buttons'>
				<button type="submit" class='btn yellow'>SUBMIT</button>
				<a class='btn' href="/dashboard">nevermind</a>
			</div>
		</form>

	</div>
</section>
{% endblock %}
