{% extends 'templates/base.html' %}
{% block title %}{{super()}} | Account Settings{% endblock %}

{% block head %}
{{super()}}
	<link rel="stylesheet" type="text/css" href="/static/css/.form.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/.settings.min.css">
{% endblock %}

{% block javascript %}
{{super()}}
	<script type="application/javascript" src="/static/js/.settings.bun.js"></script>
{% endblock %}

{% block main %}

	<section class='container'>

		<h1>Account Settings</h1>

		<form id='settings-form' role="form" method="post">

			<div id='name' class='form-group' title="This is your name.  It doesn't really matter what you put here. ">
				<label for="name">Name</label>
				<input id='name-input' class='form-control' name="name" type="text" value="{{user.name}}" maxlength="160">
				<p id='name-help' class='red help'></p>
			</div>

			<div id='email' class='form-group' title="For account stuff, no dumb newsletters. ">
				<label for="email">Email</label>
				<input id='email-input' class='form-control' name="email" type="email" value="{{user.email}}" maxlength="160">
				<p id='email-help' class='red help'></p>
			</div>

			<div id='social-connect' class='form-group'>
				<a href="/login/google" class='btn gp{% if user.auth.google %} connected{% endif %}'>
					<i class="fa fa-google-plus"></i>
					{% if user.auth.google %}Disconnect{% else %}Connect{% endif %} Google
				</a>
				<a href="/login/facebook" class='btn fb{% if user.auth.facebook %} connected{% endif %}'>
					<i class="fa fa-facebook"></i>
					{% if user.auth.facebook %}Disconnect{% else %}Connect{% endif %} Facebook
				</a>
				<a href="/login/twitter" class='btn tw{% if user.auth.twitter %} connected{% endif %}'>
					<i class="fa fa-twitter"></i>
					{% if user.auth.twitter %}Disconnect{% else %}Connect{% endif %} Twitter
				</a>
			</div>

			<div id='password-delete' class='form-group'>
				<a id='password' class='underline' href="/account/password" title="Click here to {% if user.auth.password %}change{% else %}set{% endif %} your password. ">{% if user.auth.password %}Change{% else %}Set{% endif %} password</a>
				<a id='delete' class='red underline' style="text-align:right" href="#" title="Permently delete your Tracman account. ">Delete account</a>
			</div>

			<div id='submit-group' class='form-group flexbox'>
				<input class='main btn' type="submit" value="Save" title="Click here to save your changes. ">
				<a href="#" class='btn' title="Click here to discard your changes. ">cancel</a>
			</div>

		</form>

		{% if not user.isPro %}<p style="clear:both">Want to try <a href="/settings/pro">Tracman Pro</a>? It's free during beta testing. </p>{% endif %}
		<p style="clear:both">Would you like to <a href="https://github.com/Tracman-org/Server/issues/new">submit a suggestion or bug report</a>? </p>

	</section>

{% endblock %}
