<footer class='footer'>
	<div class='left'>
		<p>Website and app by <a href="https://keithirwin.us/">Keith Irwin</a>.  
		<br>Design by <a href="http://boag.online/blog/maglev-free-responsive-website-template">Fraser Boag</a>.  </p>
	</div>
	<div class='right'>
		Share: 
			<a href="https://www.facebook.com/sharer/sharer.php?u=https://tracman.org/" target="_blank"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/home?status=Show%20your%20location%20to%20friends%20in%20realtime%20at%20https://tracman.org/" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://www.reddit.com/submit?title=Show%20your%20location%20to%20friends%20in%20realtime%20at%20&url=https://tracman.org/" target="_blank"><i class="fa fa-reddit-alien"></i></a>
		<br>Contribute:
			<a href="https://github.com/Tracman-org/Server"><i class="fa fa-github"></i></a>
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=hypergeek14%40gmail%2ecom&lc=US&item_name=Tracman&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank"><i class="fa fa-paypal"></i></a>
			<a href="bitcoin:1GXbuM398Y2tYwSaQhNQHXWF1AN6GeRgQh?label=tracman"><i class="fa fa-btc"></i></a>
	</div>
</footer>
