<footer class='footer'>
	<div class='left'>
		<p>Website and app by <a href="https://keithirwin.us/">Keith Irwin</a>.  
		<br>Design by <a href="http://boag.online/blog/maglev-free-responsive-website-template">Fraser Boag</a>.  </p>
	</div>
	<div class='right'>
		Contribute:
			<a href="https://github.com/Tracman-org/Server"><i class="fa fa-github"></i></a>
			<a href="https://cash.me/$KeithIrwin"><i class="fa fa-dollar"></i></a>
			<a href="bitcoin:14VN8GzWQPssWQherCE5XNGBWzy3eCDn74?label=tracman"><i class="fa fa-btc"></i></a>
		<br>
			<a href="/privacy">Privacy Policy</a> |️ <a href="/terms">Terms of Service</a>
	</div>
</footer>

<script type="application/javascript" src="/static/js/dist/footer.js"></script>