<script src="/static/js/header.js"></script>

<header>
	<a href="/"><span class='logo'><img class='icon' src="/static/img/style/logo-28.png" alt="+">Tracman</span></a>
	<div class='hamburger hamburger--slider' aria-label="Menu" aria-controls="navigation">
		<div class='hamburger-box'>
			<div class='hamburger-inner'></div>
		</div>
	</div>
	<nav id='navigation'>
	<ul>
	{% if user %}
		<li><a href="/map/{{user.slug}}">Map</a></li>
		<li><a href="/map#share">Share</a></li>
		<li><a href="/map#settings">Settings</a></li>
		{% if user.isAdmin %}<li><a href="/admin">Admin</a></li>{% endif %}
		<li><a href="/logout">Logout</a></li>
	{% else %}
		<li><a href="/#overview">About</a></li>
		<li><a href="/map/keith">Demo</a></li>
		<li><a href="/#get">Request Invite</a></li>
		<li><a href="/login">Login</a></li>
	{% endif %}
	</ul>
	</nav>
</header>

{% if error %}
<div class='header alert alert-danger alert-dismissible'>
	<strong><i class="fa fa-exclamation-circle"></i> ERROR:</strong> {{ error | safe }}
	<a href="#" class='close' data-dismiss="alert" aria-label="close"><i class='fa fa-times'></i></a> 
</div>
{% elif success %}
<div class='header alert alert-success alert-dismissible'>
	<strong><i class="fa fa-check-circle"></i> Success!</strong> {{ success | safe }}
	<a href="#" class='close' data-dismiss="alert" aria-label="close"><i class='fa fa-times'></i></a> 
</div>
{% endif %}