form {
	margin: auto;
	max-width: 800px;
}

.form-group {
	display: flex;
	justify-content: space-between;
	margin: 8% 0;
}

/* Sizing */
form label {
	font-size: 1.2em;
	margin-right: 3%;
}

/* Input formatting */
form input, form textarea, form select {
	-moz-box-shadow: inset .11vw .18vw .25vw rgba(0,0,0,.5);
	-webkit-box-shadow: inset .11vw .18vw .25vw rgba(0,0,0,.5);
	box-shadow: inset .11vw .18vw .25vw rgba(0,0,0,.5);
	color: #eee;
	background-color: #202020;
	background-color: rgba(255,255,255,0.1);
	padding: 1% 1.5%;
	border: 1px solid #666;
	border-radius: .3vw;
}
form input:not(.input-addon):not(.input-with-addon):not([type="radio"]):not([type="checkbox"]),
form .input-with-addon-group {
	min-width: 50%;
}
form input:active:not(.input-addon), form textarea:active, form select:active,
form input:focus:not(.input-addon), form textarea:focus, form select:focus {
	outline: none;
	border: 1px solid #fbc93d;
}

form .input-with-addon-group {
	display: flex;
}
form .input-addon {
	padding: 1% 0 1% 1.5%;
	border-right-color: #202020;
	border-right-color: rgba(102,102,102,0);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-box-shadow: inset .11vw .18vw .25vw rgba(0,0,0,.5);
	-webkit-box-shadow: inset .11vw .18vw .25vw rgba(0,0,0,.5);
	box-shadow: inset .11vw .18vw .25vw rgba(0,0,0,.5);
}
form .input-with-addon {
	padding: 1% 1.5% 1% 0;
	border-left-color: #202020;
	border-left-color: rgba(102,102,102,0);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-box-shadow: inset 0 .18vw .25vw rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0 .18vw .25vw rgba(0,0,0,.5);
	box-shadow: inset 0 .18vw .25vw rgba(0,0,0,.5);
}

::-webkit-input-placeholder {
	color: #666;
}:-moz-placeholder {
	color: #666;
	opacity: 1;
}::-moz-placeholder {
	color: #666;
	opacity: 1;
}:-ms-input-placeholder {
	color: #666;
}

form select {
	-moz-box-shadow: inset 0 1px 6px rgba(255,255,255,.2),
		inset -.11vw -.18vw .52vw rgba(0,0,0,.4);
	-webkit-box-shadow: inset -.11vw -.18vw .52vw rgba(255,255,255,.2),
		inset -.11vw -.18vw .52vw rgba(0,0,0,.4);
	box-shadow: inset 0 .11vw .52vw rgba(255,255,255,.2),
		inset 0 .11vw .52vw rgba(0,0,0,.4);
}
form select > option {
	background: #222;
	color: inherit;
}

form .radio {
	min-width: 150px; 
	display: flex;
	justify-content: space-between;
}

form input[type="checkbox"], form input[type="radio"] {
	width: auto;
	margin: 8px;
}
form input[type="checkbox"]:active, form input[type="radio"]:active,
form input[type="checkbox"]:focus, form input[type="radio"]:focus {
	outline: 1px solid #fbc93d;
}

form .btn {
	font-size: 1.5em;
}
