/* More padding on the bottom */
.container {
	padding-bottom: 10vh;
}

/* Sections */
#login, #signup {
	width: 50%;
	margin: 0 2%;
}

/* Form overrides */
form .form-group {
	margin: 8% 0 0;
}
form input:not(.input-addon):not(.input-with-addon), 
form .input-with-addon-group {
	width: 96%;
	margin: 0 auto 5vh;
}
form .input-with-addon, form .input-addon {
	margin: 0;
}
form .input-with-addon-group {
	width: 100%;
}
p, input, #social-login {
	margin-bottom: 5vh;
}
form input.btn[type="submit"] {
	margin: 0 2% 5vh;
}
form #social-login {
	justify-content: space-around;
	flex-wrap: nowrap;
	width: 100%;
}
#show {
	padding: 1%;
	cursor: pointer;
}

/* Social buttons */
#social-login .btn {
	padding: 2%;
	text-align: center;
	margin: 0 3%;
	color: #FFF;
}
#social-login .btn .fa {
	position: relative;
}
#social-login .btn .text {
	font-size: .6em;
}
#social-login .btn.gp {
	background: rgb(206,77,57);
}
#social-login .btn.gp:hover {
	background: rgb(251,122,102);
}
#social-login .btn.fb {
	background: rgb(48,88,145);
}
#social-login .btn.fb:hover {
	background: rgb(93,133,190);
}
#social-login .btn.tw {
	background: rgb(44,168,210);
}
#social-login .btn.tw:hover {
	background: rgb(89,213,255);
}
/* Small buttons */
@media (max-width:600px), (min-width:800px) and (max-width:1200px) {
	#social-login .btn {
		padding: 0;
		width: 60px;
		height: 60px;
	}
	#social-login .btn .text {
		display: none;
	}
	#social-login .btn .fa {
		margin: 18px auto;
	}
}

/* Single column */
@media (max-width:800px) {
	
	#login, #signup {
		width: 100%;
	}
	section > .flex {
		flex-direction: column;
	}
	section > .flex > div {
		width: 100%;
	}
	hr { 
		display: block !important;
	}
	
}
