/* Social button styles */
#social-connect {
	flex-wrap: wrap;
}
#social-connect > .btn {
	text-align: center;
	display: flex;
	align-items: center;
	margin-left: 1vw;
	margin-right: 1vw;
	flex-grow: 1;
	flex-basis: 0;
	font-size: .9em;
}
#social-connect > .btn:hover {
	color: #fff;
}
#social-connect > .btn .fa {
	font-size: 1.1em;
	margin-left: 0;
	margin-right: 5%;
}

/* Connected social button styles */
#social-connect > .btn.gp.connected {
	border: 2px solid rgb(206,77,57);
}
#social-connect > .btn.fb.connected {
	border: 2px solid rgb(48,88,145);
}
#social-connect > .btn.tw.connected {
	border: 2px solid rgb(44,168,210);
}

/* Unconnected social button styles */
#social-connect > .btn.gp:not(.connected) {
	background: rgb(206,77,57);
}
#social-connect > .btn.gp:not(.connected):hover {
	background: rgb(251,122,102);
}
#social-connect > .btn.fb:not(.connected) {
	background: rgb(48,88,145);
}
#social-connect > .btn.fb:not(.connected):hover {
	background: rgb(93,133,190);
}
#social-connect > .btn.tw:not(.connected) {
	background: rgb(44,168,210);
}
#social-connect > .btn.tw:not(.connected):hover {
	background: rgb(89,213,255);
}

/* Submit buttons */
#submit-group {
	justify-content: space-around;
}
#submit-group .main {
	width: 50%;
}
