<style>
	.google-play {
		width: 150px;
		border: #fbc93d solid 1px;
		border-radius: 10px;
	}
</style>
	
<section class='track dark'>
	<div class='container'>
		<h2>Set location</h2>
		<p>You can set your location to this device's geolocation by clicking the button below.&ensp;You can also track this device's location by clicking &ldquo;Start tracking&rdquo;.&ensp;Your location will update as long as you keep this window open.&ensp;For accuracy, try it on your smartphone, but be careful, because it will drain the battery quickly.&ensp;</p>
		<p class='flexbox'>
			<button id='manual-set' class='btn' style="min-width:40%" onclick="setLocation()"><i class="fa fa-map-marker"></i>&emsp;Set location</button>
			<button id='tracking' class='btn' style="min-width:40%" onclick="trackLocation()"><i class="fa fa-crosshairs"></i>&emsp;Start tracking</button>
		</p>
		<h3>Android</h3>
		<p>The android app lets you update your location in the background, and will conserve battery life.&ensp;Note that it's <a href="https://github.com/Tracman-org/Android/issues" target="_blank">kind of buggy</a> at the moment.&ensp;</p>
		<p><a href="https://play.google.com/store/apps/details?id=us.keithirwin.tracman&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1"><img class='google-play' alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" /></a></p>
		</div>
</section>